extends layout.pug	

block content
	div(style="height:100vh")
		div(class="cover-container d-flex h-100 p-3 mx-auto flex-column")
			header(class="masthead mb-auto")
				div(class="inner")
					h3(class="masthead-brand") Home
					nav(class="nav nav-masthead")
						a(class="nav-link", href="#") Our Company
						a(class="nav-link", href="#") Therapist Dashboard
						a(class="nav-link", href="#") User Dashboard
						a(class="nav-link", href="#") Get In Touch
			main(role="main", class="inner cover")
				h1.titular Mindset
