extends layout.pug

block nav
	header(class="masthead mb-auto d-flex h-100 p-3 mx-auto flex-column")
		div(class="inner")
			h3(class="masthead-brand") Home
			nav(class="nav nav-masthead justify-content-center")
				a(class="nav-link", href="#") Our Company
				a(class="nav-link", href="#") Therapist Dashboard
				a(class="nav-link", href="#") User Dashboard
				a(class="nav-link", href="#") Get In Touch
